.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.markdown-card{
  margin-bottom: 1.2rem;
}

.markdown-header-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.markdown-header-container>h2{
  cursor: pointer;
}

.markdown-header-container>button{
  padding: 0.5rem 1rem;
}

@media screen and (max-width:372.5px) {
  .markdown-header-container{
      flex-direction: column;
      gap: 0.5rem;
  }
}
#container{
  width: 100%;
  height: 100vh;
}

#empty-message-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#empty-message-container>p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

#empty-message-container>button{
  padding: 0.625rem 1rem;
}

.btn{
  border-radius: 0.625rem;
  border: none;
  cursor: pointer;
  background-color: #0000ff;
  color: #ffffff;
  height: 50px;
}

#notes-container{
  padding: 1rem;
}

#create-new-notes{
  display: flex;
  gap: 2rem;
  margin-bottom:2rem ;
  align-items: center;
}

#create-new-notes>button{
  padding: 0.625rem 2rem;
}
